%h2 固定費科目編集
= link_to "固定費科目一覧に戻る", fixedcosts_path
= form_with model: @fixedcost do |f|
  %table
    %tr
      %th
        = f.label :name, "名称"
      %td
        = f.text_field :name
    %tr
      %th
        = f.label :description, "説明"
      %td
        = f.text_field :description
  = f.submit "編集"