%h2 収入科目一覧

= link_to "新規登録", new_fixedcost_path
- if @fixedcosts.present?
  %table
    %thead
      %tr
        %th
          科目名
        %th
          備考
        %th
          編集
        %th
          削除
    %tbody
      - @fixedcosts.each do |fixedcost|
        %tr
          %td 
            = fixedcost.name
          %td
            = fixedcost.description
          %td
            = link_to "編集", edit_fixedcost_path(fixedcost)
          %td
            = link_to "削除", fixedcost, method: :delete, data: { confirm: "本当に削除しますか？"}
- else
  %p
    登録されている収入科目がありません